# project
tmp*.*
src/cli/data/
src/cli/wallet/
*.teenet.json
cmd/data/

# hardhat
artifacts/
typechain-types/
cache/

# contract debugging
contracts-dbg/
artifacts-dbg/
dbg.project.json

# Ignore node_modules directory
node_modules/

# Ignore logs and debugging files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore built files
dist/
build/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# vscode
.DS_Store